#header { border-top:3px solid #cc3333;}
#header .container {display:flex; width:1200px; margin:0 auto;}
#header h1 {padding:20px 0 20px 0;}
#header h1 img{width:300px;}


#header .container nav {margin-left:auto;}
#header .container nav>ul {display:flex;padding:30px 0 20px 0;}
#header .container nav>ul>li {padding:0 15px 0  30px; font-size:20px; font-weight:500; }







#visual figure {height:500px;}
#visual .main_item01 {background:url(../img/visual1.jpg) no-repeat center center/cover}
#visual .main_item02 {background:url(../img/visual2.jpg) no-repeat center center/cover}
#visual .main_item03 {background:url(../img/visual3.png) no-repeat center center/cover}


#visual .main_item03 {text-align:left; position:relative;}
#visual .main_item03 .txt {position:absolute; top:0; left:1200px;; width:1200px; margin:0 auto; display:block;  padding:150px 0  0  15px;}
#visual .main_item03 .txt h3 {font-size:40px; font-weight:700; }
#visual .main_item03 .txt p {font-size:20px; font-weight:300; padding:15px 0; line-height:1.25; }
#visual .main_item03 .txt a {border:1px solid#333; text-align:center; line-height:40px; padding:10px}
#visual .main_item03 .txt a:hover {background:#333; color:#fff; transition:0.5s;}

#visual .slick-dots {position:absolute; bottom:50px; left:50%; transform:translateX(-50%)}
#visual .slick-dots li { display:inline-block; width:100px; height:3px; background:#fff; margin:0 4px; position:relative;}
#visual .slick-dots li button {display:none;}

#visual .slick-dots li:after {content:""; display:block; width:0; height:100%; position:absolute; top:0; left:0; background:#fff; }
#visual .slick-dots li.slick-active {background:#333;}
#visual .slick-dots li.slick-active:after {width:100%; transition:4s;}





#content01 .quick_m {font-size:30px; width:1200px; margin:0 auto;}
#content01 .quick_m .menu {text-align:center;}
#content01 .quick_m .menu>ul {display:flex; }
#content01 .quick_m .menu>ul>li {flex:1; display:block;  line-height:80px;}
#content01 .quick_m .menu>ul>li:first-child { background:#cc3333; color:#fff; border-radius: 0 0 0 30px;}
#content01 .quick_m .menu>ul>li~li { background:#999999; color:#fff;}
#content01 .quick_m .menu>ul>li:last-child { background:#cccccc; color:#fff;border-radius: 0 0 30px 0;}






#content02 .ad_video {width:1170px; overflow:hidden; margin:0 auto; padding:100px 0; }
#content02 .ad_video .txt {text-align:center; line-height:1.25;}
#content02 .ad_video .txt h3 {font-size:30px; font-weight:700;}
#content02 .ad_video .txt h3>span {color:#cc3333};
#content02 .ad_video .txt p {font-size:16px; font-weight:300;}

#content02 .ad_video .mmmov {padding:30px;text-align:center;}
#content02 .ad_video {width:100%; transform:scale(0.9); }







#content03 {background:#f2f2f2;}
#content03 .best {width:1200px; margin:0 auto; text-align:center; padding:100px;}

#content03 .best .txt h3 {font-size:30px; font-weight:700; padding:10px 0;}
#content03 .best .txt p {font-size:16px; font-weight:300; }

#content03 .best_img  {display:flex;}
#content03 .best_img .container { flex:1; padding:0 15px 0 15px;}


#content03 .best_img .litxt strong {display:block; font-size:20px; font-weight:500;}
#content03 .best_img .litxt span { font-size:12px; font-weight:100;}
#content03 .best_img .litxt p {font-size:14px; font-weight:300; padding:10px 0; line-height:1.25;}


#content03 .best_img .container img{width:100%;}



#content04 {position:relative; background:#fff; text-align:center; padding:100px ;}
#content04 .container {width:1200px; margin:0 auto;}

#content04 .container .case {padding: 30px 10px;}
#content04 .container .txt h3 {font-size:30px; font-weight:700; padding:10px ;}
#content04 .container .txt p {font-size:16px; font-weight:300; }

/* slick하면서 사이즈 키우기*/
#content04 .container figure img {width:100%;padding:0 30px; transform:scale(0.8);transition:0.5s;}
#content04 .container figure.on img {transform:scale(1.2); transition:0.5s;}



#content04 .container .arr i {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); font-size:60px;color:#ddd;}
#content04 .container .arr i.xi-angle-left {margin-left:-650px;}
#content04 .container .arr i.xi-angle-right {margin-left:650px;}

#content04 .container .toast_img .li2txt strong {display:block; font-size:18px; font-weight:500;}
#content04 .container .toast_img .li2txt span { font-size:12px; font-weight:100;}
#content04 .container .toast_img .li2txt p {font-size:14px; font-weight:300; padding:10px 0; line-height:1.25;}
#content04 .container .toast_img .li2txt h6 {font-size:14px; font-weight:300; display:inline-block; line-height:25px; padding:0 5px; background:#cc3333; color:#fff; border-radius:3px; text-align:center; }




#content05 {background:#fff; padding:50px 0;}
#content05 .container {position:relative;width:1200px; margin:0 auto;text-align:center;}

#content05 .container .case {padding: 30px 10px;} /* slick 사이사이 패딩 넣기,, */
#content05 .container .txt h3 {font-size:30px; font-weight:700; padding:10px 0;}
#content05 .container .txt p {font-size:16px; font-weight:300; }

#content05 .container .beverage_img {padding:0 10px;}
#content05 .container .beverage_img .li3txt strong {display:block; font-size:18px; font-weight:500; padding:10px 0 0 0; }
#content05 .container .beverage_img .li3txt span {font-size:12px; font-weight:100; }
#content05 .container .beverage_img .li3txt p {font-size:14px; font-weight:300; padding:10px 0; line-height:1.25;}


#content05 .container .beverage_img img {width:100%;}

#content05 .container figure img {width:100%; padding:0 30px; transform:scale(0.8); transition:0.5s;}
#content05 .container figure.on img {transform:scale(1.2); transition:0.5s;}


#content05 .container .arr i {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); font-size:60px;color:#ddd; }
#content05 .container .arr i.xi-angle-left {margin-left:-650px;}
#content05 .container .arr i.xi-angle-right {margin-left:650px;}

#content06 {background:#f2f2f2;}
#content06 .container {width:1200px; margin:0 auto; text-align:center;padding:100px 15px;}

#content06 .container .txt { font-size:30px; font-weight:500; padding-bottom:30px; }


#content06 .container .commenu {}
#content06 .container .commenu>ul {display:flex;}
#content06 .container .commenu>ul>li {flex:1; display:block;line-height:1.25;padding:30px; margin: 0  0  0 15px;
background:#f2e3e3;}
#content06 .container .commenu>ul>li strong {font-size:24px; font-weight:500;}
#content06 .container .commenu>ul>li p {font-size:16px; font-weight:300; margin:15px 0; padding:30px 0; text-align:left; display:block; border-top:1px solid #666;}
#content06 .container .commenu>ul>li span {font-size:14px; font-weight:300; text-align:left; margin:0 90px 0 0;}


#content06 .container .commenu>ul>li i { font-size:40px; background: rgb(184, 181, 181); color:#fff; border-radius:50%; padding:5px;}
#content06 .container .commenu>ul>li i:hover {transform:rotate( 180deg ); transition:0.5s;}





#footer .container {border-top:3px solid#cc3333;}


#footer .container .foot {display:flex; padding:30px 0;width:1200px; margin:0 auto; }
#footer .container .foot .footimg {margin:0 15px;}

#footer .container .foot .footimg img {width:300px;}

#footer .container .foot .footlist { margin-left:auto;}
#footer .container .foot .footlist ul {display:flex;}


/* 리스트 사이사이에 I넣기!! */
#footer .container .foot .footlist>ul>li {padding:0 15px 0 15px; font-size:16px; font-weight:300; position:relative;}

#footer .container .foot .footlist>ul>li:after {content:""; display:block; width:1px; height:14px; background:#ddd; position:absolute; top:50%; right:0; transform:translateY(-50%); }
#footer .container .foot .footlist>ul>li:last-child {padding: 0 15px 0 15px;}
#footer .container .foot .footlist>ul>li:last-child:after {display:none;}

#footer .container .foot .footlist>ul>li:first-child {color:#cc3333; font-weight:500;}



#footer .container .adress {margin:0 auto; width:1200px; }
#footer .container p {margin:0 15px;  line-height:1.25; padding-bottom:30px; font-size:16px; font-weight:300;}



