/*구글 디자인폰트 사용하기/원하는 위치에  <font-family: 'Merriweather', serif;> 삽입할것*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


header {position:fixed; top:60px; left:60px; z-index:999;}
header h1 {font-size:40px; font-weight:700;}






/*우측 중간 리스트 바 만들기 (클릭하면 해당 풀페이지로 이동*/
nav {position:fixed; bottom:60px;right:60px; z-index:999; width:40px;}
nav li {position:relative;} 

nav li a {display:block; text-indent:-9999px;}
nav li a:after {content:""; display:block; width:50%; height:3px; background:#333; position:absolute; top:6px; right:0; transition:0.2s;}
nav li.on a:after {width:100%;}


@media (max-width:768px) {
    header {position:fixed; top:30px; left:30px; z-index:999;}
    header h1 {font-size:20px; font-weight:700;}






/*우측 중간 리스트 바 만들기 (클릭하면 해당 풀페이지로 이동*/
    nav {position:fixed; bottom:60px;right:60px; z-index:999; width:40px;}
    nav li {position:relative;} 

    nav li a {display:block; text-indent:-9999px;}
    nav li a:after {content:""; display:block; width:50%; height:3px; background:#333; position:absolute; top:6px; right:0; transition:0.2s;}
    nav li.on a:after {width:100%;}
}








/* 애니메이션 .on 이 붙어서 실행되고 실행을 위한 명령은 JS에서,,*js 풀페이지 참고 */
.section {width:100%;}
.section.on {color:rgb(108, 167, 255); transition:0.5s;}
.section .container {display:flex; width:1200px; margin: 0 auto;}
.section .container>* {flex:1; }
.section .txt{ color:#333; padding:100px 0 60px 0;}
.section .txt h2 {font-size:40px; font-weight:900; margin-bottom:20px;}
.section .txt p {font-size:14px; font-weight:300; line-height:1.25;}
.section .txt i {font-size:30px;}

@media (max-width:768px) {
    .section {width:100%;}
.section.on {color:rgb(108, 167, 255); transition:0.5s;}
.section .container {display:flex; flex-direction:column; width:100%; margin: 0 auto;}
.section .container>* {flex:1; }
.section .txt{ color:#333; padding:30px 0 60px 0;}
.section .txt h2 {font-size:40px; font-weight:900; margin-bottom:20px;}
.section .txt p {font-size:14px; font-weight:300; line-height:1.25;}
.section .txt i {font-size:30px;}

}


#main>section:nth-child(1) {background:url(bg3-1.png) no-repeat center center/cover;}
#main>section:nth-child(2) {background:url(bg3-2.png) no-repeat center center/cover;;}
#main>section:nth-child(3) {background:url(bg3-3.png) no-repeat center center/cover;;}
#main>section:nth-child(4) {background:url(bg3-4.png) no-repeat center center/cover;;}
#main>section:nth-child(5) {background:url(bg3-5.png) no-repeat center center/cover;;}

/*.m01 .video_case {width:100%; height:100vh; overflow:hidden;} */
.m01 video {width:1920px;}
.m01 .txt {position:absolute; top:50%; left:50%; transform:translate(-50%); color:#333;}

.m01 .txt h2 {font-size:40px; font-weight:900; margin-bottom:20px;}
.m01 .txt p {font-size:14px; font-weight:300;}
.m01 .txt i {font-size:30px;}


@media (max-width:768px) {
    .m01 video {width:1920px;}
    .m01 .txt {position:absolute; top:0; left:50%; width:auto; transform:translate(-50%,50%); }
    
    .m01 .txt h2 {font-size:40px; font-weight:900; margin-bottom:20px;}
    .m01 .txt p {font-size:14px; font-weight:300;}
    .m01 .txt i {font-size:30px;}  
}




footer {position:fixed; bottom:60px; left:60px; z-index:999;}
footer .mbr {display:none;}

/*우측 상단 메뉴바 만들기(줄 3개,,)*/
#mopen {position:fixed; top:60px; right:60px; width:30px; height:30px;cursor: pointer; z-index:1001; overflow:hidden;}
#mopen>span {width:100%; height:3px; left:0; background:#333; position:absolute; transition:0.3s;}
#mopen>span:nth-child(1) {top:0;}
#mopen>span:nth-child(2) {top:10px;}
#mopen>span:nth-child(3) {top:10px;}
#mopen>span:nth-child(4) {top:20px;}

/*클릭하면 모양이 삼단바에서 엑스로 변하기*/
#mopen.on>span:nth-child(1) {left:100%;}
#mopen.on>span:nth-child(2) {transform:rotate(45deg);}
#mopen.on>span:nth-child(3) {transform:rotate(-45deg);}
#mopen.on>span:nth-child(4) {left:-100%;}

@media (max-width:768px) {
    footer {position:fixed; bottom:30px; left:30px; z-index:999; font-size:12px;}
    footer .mbr {display:block;}

/*우측 상단 메뉴바 만들기(줄 3개,,)*/
#mopen {position:fixed; top:30px; right:30px; width:30px; height:30px;cursor: pointer; z-index:1001; overflow:hidden;}
#mopen>span {width:100%; height:3px; left:0; background:#333; position:absolute; transition:0.3s;}
#mopen>span:nth-child(1) {top:0;}
#mopen>span:nth-child(2) {top:10px;}
#mopen>span:nth-child(3) {top:10px;}
#mopen>span:nth-child(4) {top:20px;}

/*클릭하면 모양이 삼단바에서 엑스로 변하기*/
#mopen.on>span:nth-child(1) {left:100%;}
#mopen.on>span:nth-child(2) {transform:rotate(45deg);}
#mopen.on>span:nth-child(3) {transform:rotate(-45deg);}
#mopen.on>span:nth-child(4) {left:-100%;}

}





#cover_nav { position:fixed; top:0; right:0; background:rgb(126, 126, 126); width:100%; height:0; z-index:1000; overflow:hidden; transition:0.5s;}
#cover_nav.on {height:100vh;}

#cover_nav .container {display:flex; position:absolute; top:50%; left:50%; width:1200px; transform:translate(-50%,-50%);}
#cover_nav .container>* {flex:1; padding:0 40px;}

#cover_nav img {border-radius:50%; overflow:hidden;}

#cover_nav .txt {margin:100px 0;}
#cover_nav hr {margin:50px 0; border:none; border-top:1px dotted #ddd;}


#cover_nav .txt h3 {font-size: 30px; font-weight: 100; letter-spacing:1rem; margin-bottom:30px; /*text-transform:uppercase;--대문자로 변경*/}
#cover_nav .txt p {font-size: 14px; font-weight: 300; letter-spacing:-0.025rem; }

#cover_nav .link li {line-height: 1.25; }

/*css를 활용하여 xeicon 사용하기
    1. xeicon 라이브러리에서 이름 복사
    2. html 아무때나 삽입(보이지 않는 유니코드를 가져오기 위함)
    3. 사이트에서 검사클릭 -style 칸중 밑에"\eb10" 생긴 코드 복사해서
    4. css before {content:"여기"}에 삽입
    5. styles 위에보면 폰트 패밀리 머시기 있는데(font-family: xeicon!important;) 그것도 가져오기~~ 
*/
#cover_nav .link li:before {content: "\eb10";font-family: xeicon!important; margin:20px; color:aqua; font-style: 20px; vertical-align: middle; transition:0.2s}


#cover_nav .link li:hover:before {color:black; margin-right:40px; }

#cover_nav .link li:hover:after {content:" 바로가기 "; font-size:12px; margin-left:30px; color:#666; }






@media (max-width:768px) {
    #cover_nav { position:fixed; top:0; right:0; background:rgb(126, 126, 126); width:100%; height:0; z-index:1000; overflow:hidden; transition:0.5s;}
    #cover_nav.on {height:100vh;}

    #cover_nav .container {display:flex; flex-direction:column;   position:absolute; top:50%; left:50%; width:100%; transform:translate(-50%,-50%);}
    #cover_nav .container>* {flex:1; padding:0 20px;}

    #cover_nav img {width:100%;border-radius:50%; overflow:hidden;}

    #cover_nav .txt {margin:30px 0;}
    #cover_nav hr {margin:20px 0; border:none; border-top:1px dotted #ddd;}


    #cover_nav .txt h3 {font-size: 30px; font-weight: 100; letter-spacing:1rem; margin-bottom:20px; /*text-transform:uppercase;--대문자로 변경*/}
    #cover_nav .txt p {font-size: 14px; font-weight: 300; letter-spacing:-0.025rem; }



    #cover_nav .link li {line-height: 1.25; font-size: 12px; }

    /*css를 활용하여 xeicon 사용하기
        1. xeicon 라이브러리에서 이름 복사
        2. html 아무때나 삽입(보이지 않는 유니코드를 가져오기 위함)
        3. 사이트에서 검사클릭 -style 칸중 밑에"\eb10" 생긴 코드 복사해서
        4. css before {content:"여기"}에 삽입
        5. styles 위에보면 폰트 패밀리 머시기 있는데(font-family: xeicon!important;) 그것도 가져오기~~ 
    */
    #cover_nav .link li:before {content: "\eb10";font-family: xeicon!important; margin:20px; color:aqua; font-style: 14px; vertical-align: middle; transition:0.2s}


    #cover_nav .link li:hover:before {color:black; margin-right:40px; }

    #cover_nav .link li:hover:after {content:" 바로가기 "; font-size:12px; margin-left:30px; color:#666; }
}






/*section m02 pf01 납득이 동영상@@@@@@@@ */



.section.pf01 figure {position:relative;}
/*.section.pf01 video {transform: scale(0);}
.section.pf01.on video {transform:scale(1); transition:1s 0.5s;}*/

.section video { width:100%; padding:15px 15px 15px 15px;}

.section.pf01 figure img{position:absolute;top:0; left:0; width:100%;}



/* order은 flex가 적용되었을때 순서바꿔주는 역할,, html에서 별도의 수정 필요하지 않음*/
.pf02 figure {position:relative; order:2; padding:20px;}
.pf02 figure img{position:absolute;top:0; left:0; width:100%;}


@media (max-width:768px) {
    .pf02 figure {position:relative; order:-1; padding:20px;}
    .pf02 figure img{position:absolute;top:0; left:0; width:100%;}

    

}





.pf03 .artworkli {width:1200px; margin:0 auto; text-align:center;z-index:999;}
.pf03 .artworkli .artwork {padding:100px 10px; position:relative;}

/* 박스쉐도우 만들기 (사이트:https://html-css-js.com/css/generator/box-shadow/)
/box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 이거 삽입하면 됨*/
.pf03 .artworkli .artwork img {width:100%; border-radius:50%; overflow:hidden; box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); }

/*.pf03 i {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); font-size:30px;}
.pf03 .arr .xi-angle-left{margin-left:-700px;}
.pf03 .arr .xi-angle-right{margin-left:700px;}
*/


.pf03 .slick-dots button {display:none;}
.pf03 .slick-dots li {display:inline-block; width:12px; height:12px; background:#fff; border-radius:50%; margin:30px 4px;}
.pf03 .slick-dots li.slick-active {background:rgb(106, 188, 255);}

@media (max-width:768px) {
    .pf03 .artworkli {width:auto; margin:0 auto; text-align:center;z-index:999;}
    .pf03 .artworkli .artwork {padding:50px 0 0 10px; position:relative;}

/* 박스쉐도우 만들기 (사이트:https://html-css-js.com/css/generator/box-shadow/)
/box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 이거 삽입하면 됨*/
.pf03 .artworkli .artwork img {width:100%; padding:0 30px;border-radius:50%; overflow:hidden; box-shadow:none; }

.pf03 i {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); font-size:40px; z-index:1000;}
.pf03 .arr .xi-angle-left{margin-left:-150px;color:#fff;}
.pf03 .arr .xi-angle-right{margin-left:150px; color:#fff;}}


.pf03 .slick-dots button {display:none;}
.pf03 .slick-dots li {display:inline-block; width:12px; height:12px; background:#fff; border-radius:50%; margin:30px 4px;}
.pf03 .slick-dots li.slick-active {background:rgb(106, 188, 255);}
}



.pf04 figure{width:500px;}
.pf04 img{width:100%; padding-right:30px; height:300px;}
.pf04 .txt p {padding:0 0 30px 0;}
.pf04 .txt span {border:1px solid#333; padding:5px 10px;}
.pf04 .txt span:hover {background: #333; color:#fff; transition: 0.5s; padding:5px 10px;}



.pf05 figure{width:500px; }
.pf05 img{width:100%; padding-right:30px;height:300px;}
.pf05 .txt p {padding:0 0 30px 0;}
.pf05 .txt span {border:1px solid#333; padding:5px 10px;}
.pf05 .txt span:hover {background: #333; color:#fff; transition: 0.5s; padding:5px 10px;}








.info {background:#333; color:#fff; text-align: right; padding:30px 0; }
.info .txt {flex:3; padding:50px 0;}
.info img {width:150px; border-radius: 50%; margin-right:50px;}

@media (max-width:768px) {
    .info {background:#333; color:#fff;text-align: right; padding:30px 0; }
    .info .txt {flex:3; padding:30px 30px; font-size: 12px; text-align: center;}
    .info img {width:150px; border-radius: 50%; margin-right:50px;}
}